<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跳转页</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script>
        $(function () {
            var div_height = $(window).height();

            $("#div1").css("line-height", div_height + "px");

            setTimeout(function () {
                window.location.href = '{% url "user:user_login" %}'
            }, 1500)
        })
    </script>
</head>

<body>
    <div style="text-align: center;font-size: 28px;" id="div1">
            {{ message }}
    </div>
</body>

</html>