{% extends 'base.html' %}

{% load static %}
{% load datetime_filters %}

{% block script %}
	<link rel="stylesheet" href="{% static 'base/emoji/css/reset.css' %}">
	<script type="text/javascript" src="{% static 'base/emoji/js/jquery.qqFace.js' %}"></script>
	<script>
		$(function () {
			jQuery.browser = {}; (function () { jQuery.browser.msie = false; jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)./)) { jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1; } })();

			var $horizontal_pic = $(".horizontal-pic");
			var $carousel_pic = $(".carousel-pic");
			var $rounded_image = $(".rounded-image");
			var $close_carousel = $(".close-carousel");
			var $second_reply_review = $(".second-reply-review");
			var $third_reply_reply = $(".third-reply-reply");

			$("#description").focus(function () {
				$('textarea').each(function () {
					this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
				}).on('input', function () {
					this.style.height = 'auto';
					this.style.height = (this.scrollHeight) + 'px';
				});
			});

			$('.emotion').qqFace({
				id: 'facebox',
				assign: 'description',
				path: '{% static "base/emoji/arclist/" %}'	//表情存放的路径
			});

			//查看结果
			function replace_em(str) {
				str = str.replace(/\</g, '&lt;');
				str = str.replace(/\>/g, '&gt;');
				str = str.replace(/\n/g, '<br/>');
				str = str.replace(/\[em_([0-9]*)\]/g, '<img src="arclist/$1.gif" border="0" />');
				return str;
			}

			$rounded_image.click(hide_horizontal_pic);
			$close_carousel.click(hide_carousel_pic);
			$second_reply_review.click(toggle_second_reply_review_form);
			$third_reply_reply.click(toggle_third_reply_reply_form);

			function toggle_second_reply_review_form() {
				// 切换或隐藏一级回复的回复‘评论框’
				cur = $(this);
				var ppp_review = cur.parent().parent().parent();
				var form_id = ppp_review.attr("id") + '-form';

				if ($("#" + form_id).length > 0) {
					$("#" + form_id).remove();
				} else {
					ppp_review.after(
						'<form action="/picture/review/info/" method="POST" id="' + form_id + '">\
						<div class="col-xs-11 col-xs-offset-1" style="padding-left:5px;padding-top: 10px;padding-bottom: 10px;"> \
							<input type="hidden" value="1" name="album_id">\
							<input type="hidden" value="0" name="parent_reply">\
							<textarea type="text" class="form-control pull-left" rows="1" id="description' + form_id + '" name="description"></textarea>\
							<button type="button" class="btn btn-default emotion' + form_id + '" style="margin-top:5px;">\
								<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>\
							</button>\
							<button type="submit" class="btn btn-warning" style="float:right;margin-top:5px;">评论</button>\
						</div>\
					</form>'
					);

					var description_id = "description" + form_id;
					var emotion_cls = "emotion" + form_id;

					$("#" + description_id).focus(function () {
						$('textarea').each(function () {
							this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
						}).on('input', function () {
							this.style.height = 'auto';
							this.style.height = (this.scrollHeight) + 'px';
						});
					});

					$("." + emotion_cls).qqFace({
						id: 'facebox2',
						assign: "description" + form_id,
						path: '{% static "base/emoji/arclist/" %}'	//表情存放的路径
					});
				}
			}
			function toggle_third_reply_reply_form() {
				// 切换或隐藏二级回复的回复‘评论框’
				var cur = $(this);

				var ppp_review = cur.parent().parent().parent();
				var form_id = ppp_review.attr("id") + '-form';
				var parent_review_id = ppp_review.parent().siblings().slice(2).attr("id");

				if ($("#" + form_id).length > 0) {
					$("#" + form_id).remove();
				} else {
					ppp_review.after(
						'<form action="/picture/review/info/" method="POST" id="' + form_id + '">\
							<div class="col-xs-12" style="padding-left:5px;padding-top: 10px;background-color: #ddd"> \
								<input type="hidden" value="1" name="album_id">\
								<input type="hidden" value="'+ parseInt(parent_review_id) + '" name="parent_reply">\
								<textarea type="text" class="form-control pull-left" rows="1" id="description' + form_id + '" name="description"></textarea>\
								<button type="button" class="btn btn-default emotion' + form_id + '" style="margin-top:5px;">\
									<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>\
								</button>\
								<button type="submit" class="btn btn-warning" style="float:right;margin-top:5px;">评论</button>\
							</div>\
						</form>'
					);
					var description_id = "description" + form_id;
					var emotion_cls = "emotion" + form_id;

					$("#" + description_id).focus(function () {
						$('textarea').each(function () {
							this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
						}).on('input', function () {
							this.style.height = 'auto';
							this.style.height = (this.scrollHeight) + 'px';
						});
					});

					$("." + emotion_cls).qqFace({
						id: 'facebox2',
						assign: "description" + form_id,
						path: '{% static "base/emoji/arclist/" %}'	//表情存放的路径
					});
				}
			}

			function hide_horizontal_pic() {
				// 切换轮播图和平铺图显示/隐藏
				$horizontal_pic.hide();
				$carousel_pic.show();
			}
			function hide_carousel_pic() {
				// 切换轮播图和平铺图显示/隐藏
				$horizontal_pic.show();
				$carousel_pic.hide();
			}
		})
	</script>
{% endblock script %}

{% block style %}
	<style>
		body {
			background-color: #d4d5df;
		}

		.container {
			background-color: #a9afbd;
		}

		.one-album {
			background-color: #ffffff;
			padding-bottom: 15px;
		}

		.img-circle {
			width: 100%;
			height: 100%;
		}

		.img-rounded {
			padding-top: 3px;
			width: 100%;
			height: 100%;
		}

		.rounded-image {
			margin-right: -27px;
			margin-top: 3px;
		}

		.username {
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 3px;
			font-weight: bold;
		}

		.create_time {
			margin-top: 3px;
			margin-bottom: 10px;
			color: gray;
		}

		.title-div {
			padding-bottom: 7px;
			padding-left: 4px;
		}

		.img-width100 {
			width: 100%;
		}

		.img-div {
			margin-left: -15px;
			margin-top: 3px;
			margin-right: -12px;
		}

		.album-footer,
		.album-reviews {
			border-top: 1px solid gray;
			padding-left: 0px;
			padding-right: 0px;
			background-color: #ffffff;
		}

		.album-reviews {
			padding-bottom: 15px;
		}

		.cell {
			width: 33.3333%;
			text-align: center;
			float: left;
			height: 30px;
			line-height: 30px;
		}

		.b_main2 {
			width: 100%;
			/* height: 50px; */
		}

		.out2 {
			position: absolute;
			left: 50%;
			top: -24px;
			border-color: transparent transparent gray transparent;
			border-style: dashed dashed solid dashed;
			border-width: 12px;
		}

		.in2 {
			position: absolute;
			border-color: transparent transparent #ffffff transparent;
			border-style: dashed dashed solid dashed;
			border-width: 12px;
			top: -10px;
			left: -12px;
		}

		.border2 {
			position: relative;
			/* border: 1px solid #999999; */
			padding: 10px;
			/* margin-top: 16px; */
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}

		.review-other {
			float: right;
		}

		.review {
			line-height: 24px;
			height: 24px;
			font-size: 13px;
		}

		.review-head-proto {
			width: 85%;
		}

		.review-border {
			padding: 15px;
			/* padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px; */
		}

		.review-border .border {
			border-top: 1px solid #aba;
		}

		.second-review-inner {
			background-color: #ddd;
			padding: 0px 13px 0px 13px;
		}

		a:link {
			text-decoration: none;
			/* 指正常的未被访问过的链接*/
		}

		a:visited {
			text-decoration: none;
			/*指已经访问过的链接*/
		}

		a:hover {
			text-decoration: none;
			/*指鼠标在链接*/
		}

		a:active {
			text-decoration: none;
			/* 指正在点的链接*/
		}



		.qqFace {
			margin-top: 4px;
			background: #fff;
			padding: 2px;
			border: 1px #dfe6f6 solid;
		}

		.qqFace table td {
			padding: 0px;
		}

		.qqFace table td img {
			cursor: pointer;
			border: 1px #fff solid;
		}

		.qqFace table td img:hover {
			border: 1px #0066cc solid;
		}
	</style>
{% endblock style %}

{% block title %}ALBUM INFO{% endblock title %}

{% block body %}
	<div class="container">
		<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 one-album">

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="{% static 'base/tmp/1.jpg' %}" alt="image" class="img-circle">
				</div>
				<div class="col-md-10 col-sm-10 col-xs-9 title-div">
					<p class="username">将军金甲夜不脱</p>
					<p class="create_time">发表于 20 分钟前</p>
					<div>
						【保尔柯察金感悟】我认为人应该这样活着，当你回首往事，不因碌碌无为而悔恨，也不因一事无成而懊恼，你可以骄傲的对自己说，我吧一切都献给了伟大的共产主义。
					</div>
				</div>
				<div class="horizontal-pic">
					<div class="row">
						<div class="col-xs-offset-2 col-sm-offset-2">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded-image">
								<img src="{% static 'base/tmp/2.jpg' %}" alt="image" class="img-width100">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded-image">
								<img src="{% static 'base/tmp/3.jpg' %}" alt="image" class="img-width100">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded-image">
								<img src="{% static 'base/tmp/4.jpg' %}" alt="image" class="img-width100">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded-image">
								<img src="{% static 'base/tmp/5.jpg' %}" alt="image" class="img-width100">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-2 col-sm-offset-2">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded-image">
								<img src="{% static 'base/tmp/2.jpg' %}" alt="image" class="img-width100">
							</div>
						</div>
					</div>
				</div>
				<div class="row carousel-pic" style="margin-top:10px;display:none;">
					<div class="col-xs-offset-3 col-sm-offset-2">
						<div class="col-xs-8">
							<div class="close-carousel">
								<a href="javascript:">
									<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> 收起</a>
							</div>
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="{% static 'base/tmp/4.jpg' %}" alt="..." class="img-width100">
										<div class="carousel-caption">
											this 111
										</div>
									</div>
									<div class="item">
										<img src="{% static 'base/tmp/2.jpg' %}" alt="..." class="img-width100">
										<div class="carousel-caption">
											this 222
										</div>
									</div>
									<div class="item">
										<img src="{% static 'base/tmp/3.jpg' %}" alt="..." class="img-width100">
										<div class="carousel-caption">
											this 3
										</div>
									</div>
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>

								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 img-div">
									<img src="{% static 'base/tmp/4.jpg' %}" alt="" class="img-width100" data-target="#carousel-example-generic" data-slide-to="0">
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 img-div">
									<img src="{% static 'base/tmp/2.jpg' %}" alt="" class="img-width100" data-target="#carousel-example-generic" data-slide-to="1">
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 img-div">
									<img src="{% static 'base/tmp/3.jpg' %}" alt="" class="img-width100" data-target="#carousel-example-generic" data-slide-to="2">
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 album-footer">
				<div class="cell">
					<a href="javascript:">
						<span title="点击喜欢" style="color:rgb(232, 94, 146);" class="glyphicon glyphicon-heart heart initialism" aria-hidden="true">
						</span>
					</a>
				</div>
				<div class="cell" style="border-left:1px dashed gray;">
					<a href="javascript:">评论（56）</a>
				</div>
				<div class="cell" style="border-left:1px dashed gray;">
					<a href="javascript:">点赞（99）</a>
				</div>
			</div>

			<div style="height:16px;" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"></div>

			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 album-reviews">
				<div class="b_main2">
					<div class="border2">
						<div class="post-review">
							<div class="col-xs-1" style="padding-right:0px;padding-bottom:15px;">
								<img src="{% static 'base/tmp/2.jpg' %}" alt="" class="review-head-proto">
							</div>

							<form action="{% url 'picture:reply_info' 1 %}" method="POST">
								<div class="col-xs-11" style="padding-left:5px;">
									<input type="hidden" value="1" name="album_id">
									<input type="hidden" value="0" name="parent_reply">
									<textarea type="text" class="form-control pull-left" rows="1" id="description" name="description"></textarea>

									<button type="button" class="btn btn-default emotion" style="margin-top:5px;">
										<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
									</button>
									<button type="submit" class="btn btn-warning" style="float:right;margin-top:5px;">评论</button>
								</div>
							</form>
						</div>
						<div class="one-review">
							<div class="review-border col-xs-12">
								<div class="border"></div>
							</div>
							<div class="col-xs-1" style="padding-right:0px;">
								<img src="{% static 'base/tmp/2.jpg' %}" alt="" class="review-head-proto">
							</div>
							<div class="col-xs-11" style="padding-left:5px;" id="9-reply">
								<div class="review">
									<a href="javascript:" style="color: orange">今朝有酒今朝醉：</a>这个是真的皮哦
								</div>
								<div class="review">
									<span class="review-createtime">52 分钟之前</span>
									<span class="review-other">
										<a href="javascript:" class="second-reply-review">回复</a> | 赞</span>
								</div>
							</div>
						</div>
						<div class="one-review">
							<div class="review-border col-xs-12">
								<div class="border"></div>
							</div>
							<div class="col-xs-1" style="padding-right:0px;">
								<img src="{% static 'base/tmp/2.jpg' %}" alt="" class="review-head-proto">
							</div>
							<div class="col-xs-11" style="padding-left:5px;" id="1-reply">
								<div class="review">
									<a href="javascript:" style="color: orange">今朝有酒今朝醉：</a>这个是真的皮哦
								</div>
								<div class="review">
									<span class="review-createtime">52 分钟之前</span>
									<span class="review-other">
										<a href="javascript:" class="second-reply-review">回复</a> | 赞</span>
								</div>
							</div>
							<div class="col-xs-11 col-xs-offset-1" style="padding-left:5px;">
								<div class="second-review-inner" id="2-reply">
									<div class="review">
										<a href="javascript:" style="color: orange">今朝有酒今朝醉：</a>这个是真的皮哦
									</div>
									<div class="review">
										<span class="review-createtime">50 分钟之前</span>
										<span class="review-other">
											<a href="javascript:" class="third-reply-reply">回复</a> | 赞</span>
									</div>
								</div>
							</div>



						</div>
						<div style="height:10px;"></div>
					</div>
					<div class="out2">
						<div class="in2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}